name: testing
on:
  push:
    branches:
      - master
jobs:
  main-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.101'
      - name: Switch to correct folder
        run: cd SimpleApi
      - name: Build project
        run: dotnet build 
      - name: Run tests
        run: dotnet test